.navigationMenu {
    position: absolute;
    width: 10.375rem;
    background: var(--givewp-shades-white);
    border: solid 1px var(--givewp-grey-25);
    box-shadow: 0 2px 4px 0 rgba(14, 14, 14, 0.15);
    z-index: 999;
    cursor: pointer;

    li:last-child > button {
        color: var(--givewp-red-500);
    }

    > li > button {
        text-align: center;
        width: 100%;
        padding-block: var(--givewp-spacing-4);
        background: none;
        border: none;
        cursor: pointer;

    }
}

.actionDialog {
    display: flex;
    flex-direction: row !important;
    gap: var(--givewp-spacing-2);
    border: 1px solid transparent;
}

.actionDialogContainer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: var(--givewp-spacing-2);
    min-height: 100%;

    > .title {
        font-weight: bold;
    }

    > p {
        margin: 0;
        padding: 0;
        font-size: .875rem;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.43;
        letter-spacing: normal;
        text-align: left;
        padding-right: 4rem;
        color: var(--givewp-grey-700);
    }

    > .description {
        margin: 0 0 var(--givewp-spacing-4) 0;
    }
}

.actionDialogActions {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: var(--givewp-spacing-1);

    > button {
        height: 36px;
        width: 100%;
    }
}
